#R
.Rhistory
.RData

#renv
renv/library/


#Quarto
/.quarto/
*_files/
!docs/reports/analysis_files/
!docs/reports/analysis_files/**

#Data - not committed
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
data/derived/*
!data/derived/.gitkeep

**/*.quarto_ipynb
