#R
.Rhistory
.RData

#renv
renv/library/


#Quarto
/.quarto/
*_files/

#Data - not committed
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
data/derived/*
!data/derived/.gitkeep
